*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    text-align: center;

}

#navigation{
    display: flex;
    // background-color: red;
    height: fit-content;
    justify-content: space-around;
    align-items: center;

    @media all and (max-width: 768px){
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    div{
        // background-color: yellow;
        height: 200px;
        width: 200px;
        margin-bottom: 5px;

        @media all and (max-width: 768px){
            width: 300px;
        }

    }
    & div:first-child>a::after{
        content: "Add /Delete /Update Members ";
        padding: 10px 10px;

    }

    & div:nth-child(2)>a::after{
        content: "Add/Update/Delete book";
        padding: 10px 10px;
    }
    & div:nth-child(3)>a::after{
        content: "Issue books to bembers";
        padding: 10px 10px;
    }
    & div:last-child>a::after{
        content: "Handle when books are returned";
        padding: 10px 10px;
    }


    a{  
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: #3d61ef;
        text-decoration: none;
        overflow: hidden;
        color: black;
        border-radius: 10px;

        span{
            font-size: 1.4rem;
            text-align: center;
        }
        ion-icon{
            font-size: 3rem;
        }


        &:first-child:after{
            position: absolute;
            top: 100%;
            display: block;
            content: "";
            height: 100%;
            width: 100%;
            transition: top 500ms;
        }

        &:first-child:hover::after{
            top: 0;
            background-color: rgba(98, 34, 195, 0.829);
            text-align: center;
            border-radius: 10px;
            pointer-events: none;
            color: aliceblue;
        }
    }
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    border-top: 1px solid lightgray;
    font-size: 0.9rem;
    background-color: rgba(180, 180, 180);
    color: rgb(25, 25, 25);

    @media all and (max-width: 1200px){
        margin-top: 10px;
        position: relative;
    }
}